@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/* Hero Section */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  background-image: url(./img/hero-bg.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  width: 100%;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
}

#hero h1 span {
  color: crimson;
}

#hero .cta {
  background-color: transparent;
  display: inline-block;
  padding: 10px 35px;
  color: white;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#hero .cta {
  background-color: transparent;
  display: inline-block;
  padding: 10px 35px;
  color: white;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

#hero .cta:hover {
  color: white;
  background-color: crimson;
}

#hero .container {
  width: 60%;
}

/* End Hero Section */

/* Start Header */

#header h1 {
  color: white;
  font-size: 25px;
  display: flex;
  text-transform: uppercase;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 0vh;
  background-color: rgba(31, 30, 30, 1);
}

.header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1100px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s ease left;
}

#header .nav-list ul.active {
  left: 20%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 30px;
  display: block;
  border: #f9004d;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 15rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.7);
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}
/* End  Header */

/* Awal About */
#about .about {
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

#about .about-top-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

#about .about-top p {
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 20 40 20 40;
  width: 100%;
  justify-content: center;
}

#about .about-top {
  margin-bottom: 20px;
  max-height: 200px;
  width: 100%;
  justify-content: center;
}

#about .about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}

#about .card {
  max-height: 365px;
  min-width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#about .card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: #f9004d;
}

#about .card h5 {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#about .pra p {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
}

#about .button {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 700;
  padding: 9px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
/* Akhir About */

@media only screen and (min-width: 1200px) {
  /* header */
  #header .header {
    min-height: 0vh;
    background-color: rgba(31, 30, 30, 0.24);
  }

  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.7rem;
    color: white;
    position: relative;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  #about .about-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 50%;
  }

  #about .about-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    padding: 20px 120px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  #about .about-top {
    margin-bottom: 20px;
    max-height: 200px;
    width: 100%;
    justify-content: center;
  }

  /* End header */
}
